name: PR
on:
  pull_request:

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [1.31.0, stable]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo build
      - run: ./ci/test_full.sh

  fmt:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@1.62.0
        with:
          components: rustfmt
      - uses: actions/checkout@v4
      - run: cargo fmt --all --check

  ci-success:
    name: Complete
    runs-on: ubuntu-latest
    needs: [test, fmt]
    steps:
      - run: exit 0
  ci-failed:
    name: Complete
    runs-on: ubuntu-latest
    needs: [test, fmt]
    if: failure()
    steps:
      - run: exit 1
